<form class="w-50 mx-auto" method="post">
    <div class="w-100 d-flex justify-content-center py-3">
        <label class="h4">Your Qoute</label>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h5>Your Information</h5>
        </div>
        <div class="col-lg-5 text-lg-right">
            <a class="btn" href="#">Edit</a>
        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h6>Name</h6>
        </div>
        <div class="col-lg-5 text-lg-right">

        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h6>Mobile</h6>
        </div>
        <div class="col-lg-5 text-lg-right">

        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h6>Email</h6>
        </div>
        <div class="col-lg-5 text-lg-right">

        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h5>Financial Details</h5>
        </div>
        <div class="col-lg-5 text-lg-right">
            <a class="btn" href="#">Edit</a>
        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h6>Finance Amount</h6>
        </div>
        <div class="col-lg-5 text-lg-right">

        </div>
    </div>
    <div class="row py-1">
        <div class="col-lg-7">
            <h6>Repayments from</h6>
        </div>
        <div class="col-lg-5 text-lg-right">

        </div>
    </div>
</form>